<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Sample App</title>
	</head>
	<body>
		<h1>Notes</h1>
		<ul>
			<% notes.forEach( n => { %>
			<li> Id: <a href="?id=<%-n.id%>"><%-n.id%></a>
				<%-n.title%>  <%-n.text%> <%-n.hidden%>
			</li>
			<%});%>
		</ul>
		<form method="POST" >
			<input name="title" placeholder="Title"/>
			<input name="text" placeholder="Text"/> 
			Oculta <input type="CHECKBOX" name="hidden" value="1">
			<input type="submit" name="Enviar"/>
		</form>
	</body>
</html>
