<html>
	<head> </head>
	<body>
		<h1>Note detail</h1>
			<p>Id: <a href='<%-note.id%>'><%-note.id%></a></p>
			<p>Title: <%-note.title%></p>
			<p>Message:  <%-note.text%></p>
			<p>Hidden:   <%-note.hidden%></p>
			<hr>
			<em>Server: <%-serveraddress%> </em>
			<em>Container: <%-servername%> </em>
	</body>
</html>
